<?xml version="1.0"?>
<launch>
 	<!-- Call Nao Robot publisher -->
 	<!--<include file="$(find nao_dcm_description)/launch/nao_dcm_H25_urdf.launch" />-->
    <param name="robot_description" command="$(find xacro)/xacro.py $(find nao_dcm_description)/urdf/nao_dcm_H25.xacro" />
	<!-- Nao Diagnostics -->
<!--	<node pkg="diagnostic_aggregator" type="aggregator_node" name="nao_dcm_diagnostic_aggregator">
		<rosparam file="$(find nao_dcm_driver)/config/nao_dcm_analyzers.yaml" command="load"/>
	</node>
-->

	<!-- Call Nao Robot Trajectory Controller -->
	<include file="$(find nao_dcm_control)/launch/nao_dcm_trajectory_control_H25.launch"/>

  <!-- Run Dashboard -->
 <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="-s nao_dcm_rqt_dashboard" output="screen"/>
-->
 	<!-- Call Nao Robot Driver -->
 	<node pkg="nao_dcm_driver" type="nao_dcm_driver" name="nao_dcm_driver" respawn="false" output="screen" >
 		<remap from="/joint_states" to="/nao_dcm/joint_states"/>
 		<remap from="/controller_manager" to="/nao_dcm/controller_manager"/>
    <!-- Load configurations from YAML file to parameter server -->
    <rosparam file="$(find nao_dcm_bringup)/config/nao_dcm.yaml" command="load"/>
    <!-- Specify Robot Body Type on Parameter Server -->
    <param name="BodyType" value="H25"/>
 	</node>

  <!-- Call Nao Camera -->

  <node pkg="nao_dcm_camera" type="nao_dcm_camera" name="nao_dcm_camera" respawn="false" output="screen">
    <remap from="CameraTopNode/set_camera_info" to="/nao_dcm/CameraTop/set_camera_info"/>
    <remap from="CameraBottomNode/set_camera_info" to="/nao_dcm/CameraBottom/set_camera_info"/>
    <!-- Load configurations from YAML file to parameter server -->
    <rosparam file="$(find nao_dcm_bringup)/config/nao_dcm.yaml" command="load"/>
    <!-- Specify Robot Body Type on Parameter Server -->
    <param name="BodyType" value="H25"/>
  </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
      <remap from="robot_description" to="robot_description" /> 
      <remap from="joint_states" to="/nao_dcm/joint_states" />
    </node>
	
</launch>
