<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nao_control)/config/nao_position_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="nao_controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/nao" args="/nao/HeadYaw_position_controller /nao/HeadPitch_position_controller /nao/LShoulderPitch_position_controller /nao/LElbowYaw_position_controller /nao/LWristYaw_position_controller /nao/LShoulderRoll_position_controller /nao/LElbowRoll_position_controller /nao/RShoulderPitch_position_controller /nao/RElbowYaw_position_controller /nao/RWristYaw_position_controller /nao/RShoulderRoll_position_controller /nao/RElbowRoll_position_controller /nao/LHipYawPitch_position_controller /nao/LHipRoll_position_controller /nao/LHipPitch_position_controller /nao/LKneePitch_position_controller /nao/LAnklePitch_position_controller /nao/LAnkleRoll_position_controller /nao/RHipYawPitch_position_controller /nao/RHipRoll_position_controller /nao/RHipPitch_position_controller /nao/RKneePitch_position_controller /nao/RAnklePitch_position_controller /nao/RAnkleRoll_position_controller /nao/LHand_position_controller /nao/RHand_position_controller /nao/joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/nao/joint_states" /> 
  </node>

</launch>
