<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nao_control)/config/nao_position_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="nao_controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/nao_dcm" args="
    HeadYaw_position_controller HeadPitch_position_controller 
    LShoulderPitch_position_controller LShoulderRoll_position_controller
    LElbowYaw_position_controller LWristYaw_position_controller LElbowRoll_position_controller 
    RShoulderPitch_position_controller RShoulderRoll_position_controller
    RElbowYaw_position_controller RWristYaw_position_controller RElbowRoll_position_controller 
    LHipYawPitch_position_controller LHipRoll_position_controller LHipPitch_position_controller 
    LKneePitch_position_controller LAnklePitch_position_controller LAnkleRoll_position_controller 
    RHipYawPitch_position_controller RHipRoll_position_controller RHipPitch_position_controller 
    RKneePitch_position_controller RAnklePitch_position_controller RAnkleRoll_position_controller 
    LHand_position_controller RHand_position_controller 
    joint_state_controller"/>

</launch>
